.data-form {
  padding: 2rem;
}
@media screen and (max-width: 600px) {
  .data-form {
    padding: 1rem;
  }
}

.form-control label,
.form-control select,
.form-control input {
  display: block;
  width: 100%;
}

.form-control input,
.form-control select {
  font: inherit;
  padding: 0.4rem 0.4rem;
  border: 1px solid #979797;
  margin-bottom: 1rem;
}
.form-control input::placeholder {
  color: #979797;
}

.form-control input:focus {
  outline: none;
  border-bottom-color: #000;
}

.edit-buttons-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(204, 200, 200);
  padding-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 95%;
}

.customer-data-form__actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.customer-data-form__actions button {
  background-color: #ff5746;
  border: #ff5746;
  border-radius: 2px;
  color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  width: calc(100% - 0.75rem);
  margin-left: 0.75rem;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .customer-data-form__actions button {
    width: 100%;
    margin: 0.5rem 0 2.5rem 0;
  }
}

.select-css {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('../../img/arrow-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
h1 {
  font-size: 2rem;
}

@media screen and (max-width: 600px) {
  .left-site h2 {
    width: 100%;
  }
}
.display-inlineB {
  display: inline-block;
}
.less-width > input {
  width: calc(100% - 0.75rem);
}

.less-width-margin-left > input {
  width: calc(100% - 0.75rem);
  margin-left: 0.75rem;
}
@media screen and (max-width: 600px) {
  .less-width > input,
  .less-width-margin-left > input {
    width: 100%;
    margin-left: 0;
  }
}
.left-site .information-vat {
  vertical-align: top;
  padding: 0 1rem;
}
