.form-control.radio {
  position: relative;
}
.form-control.radio input[type='radio'] {
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
  visibility: hidden;
  padding: 0;
  display: none;
}
.form-control.radio input[type='radio'] ~ span {
  position: relative;
  top: -18px;
}

.form-control.radio input[type='radio'] + label {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  border: 1px solid #e4e7ee;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  margin: 0 5px 0.75rem;
  position: relative;
}

.form-control.radio input[type='radio']:checked + label {
  border: 2px solid #ff5746;
}

.form-control.radio input[type='radio']:checked + label::after {
  content: '';
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #ff5746;
}
